body{
    font-family: 'Quicksand', Inter, monospace;
    padding: 0;
    margin: 0;
    background-size: cover;
    background: #59423D;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F3E8E2;
}

.navbar ul {
    display: flex;
    align-items: flex-end;
    gap: 100px;
    list-style: none;
    font-weight: 500px;
    
}