@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka%20One");

body {
  font-family: "Quicksand", "Fredoka One", monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background: #59423d;
}

header {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

li {
  list-style: none;
  font-style: none;
  text-decoration: none;
}

/* PAGINA INDEX */

.navbar {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #f3e8e2;
  align-items: center;
  justify-content: space-evenly;
}

.navbar img {
  width: 90px;
}

.navbar ul {
  display: flex;
  align-items: center;
  margin-left: 3%;
  border: 3%;
  display: flex;
  gap: 150px;
  list-style: none;
}

.logo {
  width: 150px;
  height: 150px;
  display: flex;
  margin-right: 4%;
  margin-top: 10px;
  background-image: url("Logo.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.botao {
  background-color: #d49393;
  width: 120px;
  height: 50px;
  border-radius: 45px;
  border-style: none;
  color: #ffffff;
  font-family: "Fredoka One";
  font-size: 20px;
  font-weight: 500px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.botao:active {
  position: relative;
  top: 1px;
}

.div-imagens {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.div-imagens .header-imagem {
  width: 345px;
  height: 345px;
}

.div-texto {
  color: #ffffff;
  width: 100%;
  display: flex;
  height: 240px;
  justify-content: center;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
}

.div-receitas {
  width: 100%;
  height: 650px;
  background-color: #795b53;
  margin-top: 5%;
  display: flex;
}

.div-rec-urso {
  width: 30%;
  height: 100%;
  background-color: #d4b793;
  background-image: url("Receitas.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  background-position: center;
}

.div-sal-doc {
  width: 70%;
  background-color: #795b53;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.div-sal-doc .doc1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div-sal-doc .doc2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div-sal-doc .botao {
  width: 230px;
  height: 100px;
  font-size: 45px;
}

.div-sal-doc img {
  height: 300px;
  width: 300px;
  font-size: 50px;
}

.div-sal-doc .textinho {
  display: flex;
  align-items: center;
  color: white;
  font-size: 40px;
  width: 100%;
  height: 100px;
}

.div-quiz {
  margin-top: 6%;
  height: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.div-quiz .titulo-quiz {
  font-size: 64px;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  font-family: fredoka one;
  text-align: center;
}

.div-quiz .pergunta-quiz {
  font-size: 40px;
  color: #ffffff;
  margin-top: 50px;
  justify-content: space-evenly;
  text-align: center;
}

.div-quiz .div-questionario {
  width: 60%;
  height: 700px;
  border-radius: 63px;
  background-color: #ca9f7d;
  display: flex;
  margin: auto;
  margin-top: 5%;
  padding: 4%;
}

.div-perguntas {
  margin-top: 4%;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  color: #59423d;
  font-size: 50px;
  font-family: Amatic SC;
}

.div-perguntas input {
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #d9d9d9;
  font-family: quicksand;
  font-size: 20px;
  display: flex;
  text-indent: 2%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.div-perguntas .botao,
.div-login .botao,
.div-cadastro .botao {
  width: 200px;
  height: 100px;
  display: flex;
  margin-top: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.div-resultado {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.resultado-texto {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
  font-family: Fredoka One;
}

.resultado-imagem {
  display: flex;
  width: 40%;
  height: 400px;
}

.resultado-imagem img {
  width: 400px;
  height: 400px;
}

.div-footer {
  width: 100%;
  height: 400px;
  background-color: #d49393;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div-informacoes {
  display: flex;
  width: 25%;
  height: 270px;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.div-informacoes img {
  width: 250px;
  height: 250px;
}

.titulo-footer {
  width: 100%;
  color: white;
  font-size: 28px;
  font-family: fredoka one;
}

.texto-footer {
  display: flex;
  color: white;
  font-size: 20px;
  margin-top: 2%;
  width: 100%;
  text-align: justify;
}

.marcador {
  color: #757575;
  font-size: 20px;
  font-weight: 100px;
}


.div-novidades {
  display: flex;
  font-size: 23px;
  color: #ffffff;
  width: 30%;
  height: 270px;
  flex-direction: column;
  justify-content: space-between;
}

.div-novidades img {
  height: 20px;
  width: 25px;
}

.div-novidades input {
  text-indent: 3%;
  width: 100%;
  border-radius: 30px;
  border: none;
  height: 40px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
}

.div-novidades span {
  display: flex;
  justify-content: center;
}

.div-novidades .botao {
  width: 200px;
  background-color: #757575;
}

.div-novidades p {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.div-footer iframe {
  height: 300px;
  width: 400px;
}

.div-loc {
  width: 40%;
  height: 500px;
}

/* LOGIN E CADASTRO */

.div-icone {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-login {
  width: 60%;
  height: 430px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 63px;
  background-color: #ca9f7d;
  color: #59423d;
  font-size: 48px;
  font-family: Amatic SC;
  padding: 48px;
}

.div-cadastro {
  width: 60%;
  height: 750px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 63px;
  background-color: #ca9f7d;
  color: #59423d;
  font-size: 48px;
  font-family: Amatic SC;
  padding: 48px;
}

.div-login span {
  text-align: center;
  color: #ffffff;
  font-family: fredoka one;
  font-size: 36px;
  margin-bottom: 30px;
}

.div-login input,
.div-cadastro input {
  width: 800px;
  height: 55px;
  border: none;
  border-radius: 30px;
  background-color: #d9d9d9;
  font-family: Quicksand;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-indent: 2%;
}

.div-tela-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div-senha {
  margin-top: 20px;
}

.div-inferior {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.div-inferior ul li a {
  display: flex;
  list-style: none;
  font-style: Fredoka one;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.div-inferior ul li a:hover {
  color: #d4b793;
}

.div-inferior ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.div-cadastro {
  display: flex;
  justify-content: space-around;
}

/* RECEITAS  */

.div-receita1,
.div-receita2,
.div-receita3 {
  display: flex;
  color: #ffffff;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding: 30px;
}

.div-receita1 p,
.div-receita2 p,
.div-receita3 p {
  width: 400px;
  margin-top: 0px;
}

.modo-de-preparo{
  color: #59423D;
  font-size: 30px;
  font-family: Amatic SC;
  display: flex;
  justify-content: center;
  align-items: center
}


/* RECEITAS SALGADAS  */

.div-receita2 {
  background-color: #CA9F7D;
  margin: 0px;
  color: #59423D;
}

.div-imagem {
  display: flex;
  justify-content: center;
  align-items: center;

}

.div-preparo {
  display: flex;
  color: #ffffff;
  width: 60%;
  flex-direction: column;
}

.div-ingredientes {
  display: flex;
  color: #ffffff;
  margin: 10px;
  width: 50%;
  flex-direction: column;

}

.div-ingredientes p {
  margin-top: 30px;
}

/* RECEITAS DOCE */

.body-receitasdoces{
  background-color: #CA9F7D;
}

.body-receitasdoces .div-receita2{
  background-color: #DBB7B7;
}