@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka%20One");

body {
  font-family: "Quicksand", "Fredoka One", monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background: #DBB7B7;
  color: #ffffff;
}

.insights{
  width: 100%;
  display: flex;
  ;
}

.div-janela{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.div-janela a {
  display: flex;
  color: white;
}

.div-indicadores{
  display: flex;
  align-items: flex-end;
  padding-right: 100px;
  width: 40%;
  height: 750px;
  flex-direction: column;
 justify-content: space-evenly;
 font-size: 22px;
 font-family: Fredoka One;
 
}

#indicador_1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 250px;
  height: 220px;
  background-color: #DD9696;
  border-radius: 37px;
  box-shadow: 0px 4px 4px 0px #000000E5 inset;
  justify-content: center;


}

#indicador_2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 250px;
  height: 220px;
  background-color: #795B53;
  border-radius: 37px;
  box-shadow: 0px 4px 4px 0px #000000E5;

}

#indicador_3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 250px;
  height: 220px;
  background-color: #D49393;
  border-radius: 37px;
  box-shadow: 0px 4px 4px 0px #000000E5 inset;
}

.div-header{
  margin-top: 50px;
  display: flex;
 align-items: center;
  flex-direction: column;
  height: 100%;
  font-family: Fredoka One;
  font-size: 25px;
  color: #795B53;
}

#grafico span {
  margin-top: 30px;
  display: flex;
 color: #ffffff;
  font-family: quicksand;
}